.root {
    -fx-background-image: url("images/background_blurred2.jpg");
    -fx-background-size: 1200;
    -fx-background-repeat: no-repeat;
}

.Apollo {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Apollo.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.Artemis {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Artemis.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.Athena {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Athena.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.Atlas {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Atlas.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.Demeter {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Demeter.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.Hephaestus {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Hephaestus.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.Minotaur {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Minotaur.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.Pan {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Pan.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.Prometheus {
    -fx-background-color: transparent;
    -fx-background-image: url("images/gods/Prometheus.png");
    -fx-background-size: 137;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.toggle-button:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-scale-z: 1.02;
}

.toggle-button:selected{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-border-color: yellow;
    -fx-border-width: 450%;
}


