.root {
    -fx-background-image: url("../images/background_blurred.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


.label{
    -fx-font-size: 68;
    -fx-font-family: Bangers;
    -fx-text-fill: navy;
    -fx-text-alignment: center;
    -fx-opacity: 0.7;
    -fx-alignment: center;
}

.button{
    -fx-pref-height: 180;
    -fx-pref-width:150;
    -fx-background-color: transparent;
    -fx-background-size: 130;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.label_title{
    -fx-font-size: 86;
    -fx-font-family: Bangers;
    -fx-text-fill: #234565;
    -fx-text-alignment: center;
    -fx-opacity: 0.68;
    -fx-alignment: center;
}