.root {
    -fx-background-image: url("../images/background_blurred.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.button_play {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/button-play-down.png");
    -fx-background-size: 160;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.button_play:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}


.button_play:pressed{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-scale-z: 1.15;
}

.text-field:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-scale-z: 1.02;
}

.popup {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-font-size: 21;
    -fx-font-family: Geneva;
    -fx-text-fill: red;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: hand;
}
